 /*MAIN STYLE OF THE WEB*/
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffecb0;
    font-size: 20px; 
}

header {
    background-color: #ffecb0;
    padding: 15px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center; /* Updated for logo and nav positioning */
    align-items: center;
}

/*navigation bar style*/ 
.nav-container { 
  position: relative; 
}

nav { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #680c05; 
  padding: 20px; }

.logo { 
  width: 100px; 
  height: 100px; 
  border-radius: 50%; /*Make it round*/ 
  overflow: hidden; /*Hide overflow if the logo is not perfectly square */ 
}

.logo img { 
  width: 100%; /* Make the image fill the container */ 
  height: auto; 
}

nav a { 
  color: #fff; 
  text-decoration: 
  none; padding: 8px 16px; 
  font-size: 27px; 
}

/*style for when you hover on 'about'*/ 
nav a:hover { 
  background-color: #680c05; 
}

.sub-nav { 
  display: none; 
  position: absolute; 
  background-color: #680c05; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}

.nav-item:hover .sub-nav { 
  display: block; 
}

.sub-nav a { 
  display: block; 
  color: #fff; 
  padding: 10px; 
  text-decoration: none; 
  font-size: 25px; 
}

.sub-nav a:hover { 
  background-color: #af362ff8; 
}

/*responsive navigation bar*/ 
.burger-icon { 
  font-size: 24px; 
  cursor: pointer; 
  display: block; 
  background-color: #af362ff8 ; 
}

@media only screen and (min-width: 768px) { 
  nav { 
    display: flex; 
  }

  .burger-icon { 
    display: none; 
  }
}

/*footer style*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #680c05;
  padding: 20px;
  color: #fff;
  font-size: 27px;
}

.watermark {
  font-size: 15px; 
  margin-left: 10px; 
}

.social-media {
  display: flex;
}

.social-media a {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-media a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .social-media {
    margin-bottom: 1rem;
  }

  .social-media a {
    width: 48px;
    height: 48px;
  }
}

/*HOMEPAGE STYLE*/
.section-header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  text-align: left;
}

.section-header .pssgm {
  margin-right: 150px;
  margin-left: 200px;
  max-width: 100%;
  height: auto;
  padding:  10px; 
}

.section-header p {
  margin: 0;
} 

.section-header img {
  max-width: 100%; 
  margin-left: 100px;
  margin-right: 350px;
}

.section-content {
  margin-top: 20px;
  font-size: 25px;
}

.slideshow-title {
  text-align: center;
  margin-top: 100px; /* Adjust as needed */
  font-size: 30px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative; 
  margin: auto;
}

.mySlides {
  display: none;
}

img {
  width: 100%;
  height: auto;
}

.dot { /*navigation dot on slides*/
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/*about page css*/
.page-content {
  max-width: 1200px;
  margin: 20px auto;
  font-size: 23px;
}

.background {
  text-align: center;
  font-size: 20px;
  font-size: 23px;
}

.background img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .background {
      flex-direction: row;
      align-items: center;
  }

  .background img {
      margin-right: 20px;
  }

}

/*vision,mission and objectives section*/
.content-box {
  padding: 20px;
  background-color: #ffaa00;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 23px;
}

/*testimonials sections*/
.testimonials {
  padding: 20px;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: space-around;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.names {
  display: flex;
  justify-content: space-around;
}

.words {
  display: flex;
  justify-content: space-around;
  font-style: italic;
  text-align: center;
}
